.canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 200ms ease-in;
  opacity: 0;
  z-index: 1;
  filter: saturate(0.1);
  mix-blend-mode: overlay;
  margin-left: auto;
}

.canvas.show {
  opacity: 1;
}
